<button class="btn btn-primary" (click)="pause()" *ngIf="this.playing; else playBlock">Pause</button>
<ng-template #playBlock><button class="btn btn-primary" (click)="play()">Play</button></ng-template>

<button class="btn btn-primary" (click)="skip()">Skip</button>

<button (click)="test()">Test</button>

<table>
    <tr *ngFor = "let col of this.data.songQ">
        <td ngIf="this.nowPlaying.source != col; else bold">{{col}}</td>
        <ng-template #bold><th>{{col}}</th></ng-template>
    </tr>
</table>