<!-- <button class="btn btn-primary" (click)="play()">Play</button> -->
<button class="btn btn-primary" (click)="skip()">Skip</button>
<button (click)="printNP()">Print NP</button>
<button (click)="toggleMute()">Mute</button>
<button (click)="printSyncInfo()">Get Sync Info</button>

<table>
    <th>Queue</th>
    <tr *ngFor = "let row of this.data.syncInfo.songQ">
        <td>{{row}}</td>
    </tr>
</table>

<table>
    <th>History</th>
    <tr *ngFor = "let row of this.data.syncInfo.history.slice().reverse()">
        <td>{{row}}</td>
    </tr>
</table>