<button class="btn btn-primary" (click)="skip()">Skip</button>
<button [innerHTML]='this.nowPlaying.muted ? "Unmute" : "Mute"' (click)="toggleMute()"></button>
<br>
<span>Current time: {{this.timeString}}</span>

<br>

<table>
    <th>Queue</th>
    <tr *ngFor = "let row of this.data.syncInfo.songQ">
        <td>{{row}}</td>
    </tr>
</table>

<table>
    <th>History</th>
    <tr *ngFor = "let row of this.data.syncInfo.history.slice().reverse()">
        <td>{{row}}</td>
    </tr>
</table>

<youtube-player *ngIf="this.host == 'YOUTUBE'"
  [videoId]="this.youtubeID" 
  height="250"
  width="500">
</youtube-player>

<span>Musicplayer HTML Test. Remove Later. YT ID: {{this.youtubeID}}</span>