<button class="btn btn-primary" (click)="skip()">Skip</button>
<button [innerHTML]='this.nowPlaying.muted ? "Unmute" : "Mute"' (click)="toggleMute()"></button>
<br>
<span>Current time: {{this.timeString}}</span>

<br>

<table>
    <th>Queue</th>
    <tr *ngFor = "let row of this.data.syncInfo.songQ">
        <td>{{row}}</td>
    </tr>
</table>

<table>
    <th>History</th>
    <tr *ngFor = "let row of this.data.syncInfo.history.slice().reverse()">
        <td>{{row}}</td>
    </tr>
</table>

<!-- *ngIf="this.host == 'YOUTUBE'" -->
<youtube-player #ytElement 
  [videoId]="this.youtubeID"
  [startSeconds]="this.data.syncInfo.time" 
  height="250"
  width="500"
  [playerVars]="this.ytPlayerVars"
  (ready)="ytReady($event)"
  (error)="skipInvalidYT($event)"
  style="pointer-events:none">
</youtube-player>